@model List<PersonResponce>
@{
    ViewBag.Title = "Filtered Persons";
}
@section BreadcrumbSection
    {
    <li class="breadcrumb-item active" aria-current="page">Persons</li>
    <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
}
<form method="get" asp-controller="persons" asp-action="@nameof(PersonsController.Search)" id="search-form">
    <div class="input-group my-input">
        @await Html.PartialAsync("_SelectPartialView")
        <input type="search" id="search-text" name="searchText" class="form-control" placeholder="Enter text" aria-label="Search" aria-describedby="search-addon" value="@ViewBag.SearchText" required />
        <div class="btn-group">
            <button type="submit" class="btn btn-outline-primary">Search</button>
            <button type="button" id="clearAllButton" class="btn btn-outline-secondary">Clear All</button>
            <a href="/show" class="btn btn-outline-success">Show All</a>
        </div>
    </div>
</form>

<div class="row justify-content-center table-div" id="table-div">
    <table class="table table-responsive table-hover table-bordered mt-5 my-table table-striped">
        <thead>
            <tr class="table-primary">
                @switch (ViewBag.SortFilter)
                {
                    case nameof(PersonResponce.Name) when ViewBag.SortOrder == SortOrder.ASC.ToString():
                        <th scope="col"><a asp-controller="persons" asp-action="filteredsort" asp-route-sortFilter="Name" asp-route-sortOrder="@SortOrder.DESC">Name</a><i class="fa-solid fa-sort-up"></i></th>
                        <th scope="col"><a asp-controller="persons" asp-action="filteredsort" asp-route-sortFilter="Surname" asp-route-sortOrder="@SortOrder.ASC">Surname</a></th>
                        <th scope="col"><a asp-controller="persons" asp-action="filteredsort" asp-route-sortFilter="Email" asp-route-sortOrder="@SortOrder.ASC">Email</a></th>
                        <th scope="col"><a asp-controller="persons" asp-action="filteredsort" asp-route-sortFilter="Age" asp-route-sortOrder="@SortOrder.ASC">Age</a></th>
                        <th scope="col"><a asp-controller="persons" asp-action="filteredsort" asp-route-sortFilter="Address" asp-route-sortOrder="@SortOrder.ASC">Address</a></th>
                        <th scope="col"><a asp-controller="persons" asp-action="filteredsort" asp-route-sortFilter="Country" asp-route-sortOrder="@SortOrder.ASC">Country</a></th>
                        <th scope="col">Options</th>
                        break;
                    case nameof(PersonResponce.Surname) when ViewBag.SortOrder == SortOrder.ASC.ToString():
                        <th scope="col"><a asp-controller="person" asp-action="filteredsort" asp-route-sortFilter="Name" asp-route-sortOrder="@SortOrder.ASC">Name</a></th>
                        <th scope="col"><a asp-controller="persons" asp-action="filteredsort" asp-route-sortFilter="Surname" asp-route-sortOrder="@SortOrder.DESC">Surname</a><i class="fa-solid fa-sort-up"></i></th>
                        <th scope="col"><a asp-controller="persons" asp-action="filteredsort" asp-route-sortFilter="Email" asp-route-sortOrder="@SortOrder.ASC">Email</a></th>
                        <th scope="col"><a asp-controller="persons" asp-action="filteredsort" asp-route-sortFilter="Age" asp-route-sortOrder="@SortOrder.ASC">Age</a></th>
                        <th scope="col"><a asp-controller="persons" asp-action="filteredsort" asp-route-sortFilter="Address" asp-route-sortOrder="@SortOrder.ASC">Address</a></th>
                        <th scope="col"><a asp-controller="persons" asp-action="filteredsort" asp-route-sortFilter="Country" asp-route-sortOrder="@SortOrder.ASC">Country</a></th>
                        <th scope="col">Options</th>
                        break;
                    case nameof(PersonResponce.Email) when ViewBag.SortOrder == SortOrder.ASC.ToString():
                        <th scope="col"><a asp-controller="persons" asp-action="filteredsort" asp-route-sortFilter="Name" asp-route-sortOrder="@SortOrder.ASC">Name</a></th>
                        <th scope="col"><a asp-controller="persons" asp-action="filteredsort" asp-route-sortFilter="Surname" asp-route-sortOrder="@SortOrder.ASC">Surname</a></th>
                        <th scope="col"><a asp-controller="persons" asp-action="filteredsort" asp-route-sortFilter="Email" asp-route-sortOrder="@SortOrder.DESC">Email</a><i class="fa-solid fa-sort-up"></i></th>
                        <th scope="col"><a asp-controller="persons" asp-action="filteredsort" asp-route-sortFilter="Age" asp-route-sortOrder="@SortOrder.ASC">Age</a></th>
                        <th scope="col"><a asp-controller="persons" asp-action="filteredsort" asp-route-sortFilter="Address" asp-route-sortOrder="@SortOrder.ASC">Address</a></th>
                        <th scope="col"><a asp-controller="persons" asp-action="filteredsort" asp-route-sortFilter="Country" asp-route-sortOrder="@SortOrder.ASC">Country</a></th>
                        <th scope="col">Options</th>
                        break;
                    case nameof(PersonResponce.Age) when ViewBag.SortOrder == SortOrder.ASC.ToString():
                        <th scope="col"><a asp-controller="persons" asp-action="filteredsort" asp-route-sortFilter="Name" asp-route-sortOrder="@SortOrder.ASC">Name</a></th>
                        <th scope="col"><a asp-controller="persons" asp-action="filteredsort" asp-route-sortFilter="Surname" asp-route-sortOrder="@SortOrder.ASC">Surname</a></th>
                        <th scope="col"><a asp-controller="persons" asp-action="filteredsort" asp-route-sortFilter="Email" asp-route-sortOrder="@SortOrder.ASC">Email</a></th>
                        <th scope="col"><a asp-controller="persons" asp-action="filteredsort" asp-route-sortFilter="Age" asp-route-sortOrder="@SortOrder.DESC">Age</a><i class="fa-solid fa-sort-up"></i></th>
                        <th scope="col"><a asp-controller="persons" asp-action="filteredsort" asp-route-sortFilter="Address" asp-route-sortOrder="@SortOrder.ASC">Address</a></th>
                        <th scope="col"><a asp-controller="persons" asp-action="filteredsort" asp-route-sortFilter="Country" asp-route-sortOrder="@SortOrder.ASC">Country</a></th>
                        <th scope="col">Options</th>
                        break;
                    case nameof(PersonResponce.Address) when ViewBag.SortOrder == SortOrder.ASC.ToString():
                        <th scope="col"><a asp-controller="persons" asp-action="filteredsort" asp-route-sortFilter="Name" asp-route-sortOrder="@SortOrder.ASC">Name</a></th>
                        <th scope="col"><a asp-controller="persons" asp-action="filteredsort" asp-route-sortFilter="Surname" asp-route-sortOrder="@SortOrder.ASC">Surname</a></th>
                        <th scope="col"><a asp-controller="persons" asp-action="filteredsort" asp-route-sortFilter="Email" asp-route-sortOrder="@SortOrder.ASC">Email</a></th>
                        <th scope="col"><a asp-controller="persons" asp-action="filteredsort" asp-route-sortFilter="Age" asp-route-sortOrder="@SortOrder.ASC">Age</a></th>
                        <th scope="col"><a asp-controller="persons" asp-action="filteredsort" asp-route-sortFilter="Address" asp-route-sortOrder="@SortOrder.DESC">Address</a><i class="fa-solid fa-sort-up"></i></th>
                        <th scope="col"><a asp-controller="persons" asp-action="filteredsort" asp-route-sortFilter="Country" asp-route-sortOrder="@SortOrder.ASC">Country</a></th>
                        <th scope="col">Options</th>
                        
                        break;
                    case nameof(PersonResponce.Country) when ViewBag.SortOrder == SortOrder.ASC.ToString():
                        <th scope="col"><a asp-controller="persons" asp-action="filteredsort" asp-route-sortFilter="Name" asp-route-sortOrder="@SortOrder.ASC">Name</a></th>
                        <th scope="col"><a asp-controller="persons" asp-action="filteredsort" asp-route-sortFilter="Surname" asp-route-sortOrder="@SortOrder.ASC">Surname</a></th>
                        <th scope="col"><a asp-controller="persons" asp-action="filteredsort" asp-route-sortFilter="Email" asp-route-sortOrder="@SortOrder.ASC">Email</a></th>
                        <th scope="col"><a asp-controller="persons" asp-action="filteredsort" asp-route-sortFilter="Age" asp-route-sortOrder="@SortOrder.ASC">Age</a></th>
                        <th scope="col"><a asp-controller="persons" asp-action="filteredsort" asp-route-sortFilter="Address" asp-route-sortOrder="@SortOrder.ASC">Address</a></th>
                        <th scope="col"><a asp-controller="persons" asp-action="filteredsort" asp-route-sortFilter="Country" asp-route-sortOrder="@SortOrder.DESC">Country</a><i class="fa-solid fa-sort-up"></i></th>
                        <th scope="col">Options</th>
                        break;
                    default:
                        <th scope="col"><a asp-controller="persons" asp-action="filteredsort" asp-route-sortFilter="Name" asp-route-sortOrder="@SortOrder.ASC">Name</a></th>
                        <th scope="col"><a asp-controller="persons" asp-action="filteredsort" asp-route-sortFilter="Surname" asp-route-sortOrder="@SortOrder.ASC">Surname</a></th>
                        <th scope="col"><a asp-controller="persons" asp-action="filteredsort" asp-route-sortFilter="Email" asp-route-sortOrder="@SortOrder.ASC">Email</a></th>
                        <th scope="col"><a asp-controller="persons" asp-action="filteredsort" asp-route-sortFilter="Age" asp-route-sortOrder="@SortOrder.ASC">Age</a></th>
                        <th scope="col"><a asp-controller="persons" asp-action="filteredsort" asp-route-sortFilter="Address" asp-route-sortOrder="@SortOrder.ASC">Address</a></th>
                        <th scope="col"><a asp-controller="persons" asp-action="filteredsort" asp-route-sortFilter="Country" asp-route-sortOrder="@SortOrder.ASC">Country</a></th>
                        <th scope="col">Options</th>
                        
                        break;
                }
            </tr>
        </thead>
        <tbody>
            @await Html.PartialAsync("_PersonsDataPartialView", Model)
        </tbody>
    </table>
</div>
