@model List<PersonResponce>
@{
    ViewBag.Title = "Persons";
    Layout = null;
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="@("http://" + Context.Request.Host.ToString() + "/StyleSheet.css")" />

<div class="row justify-content-center table-div" id="table-div">
    <table class="table table-responsive table-bordered my-table table-striped" style="margin-right:200px; margin-left:-35px; margin-top:200px;">
        <thead>
            <tr class="table-primary">
                <th scope="col">Name</th>
                <th scope="col">Surname</th>
                <th scope="col">Email</th>
                <th scope="col">Age</th>
                <th scope="col">Address</th>
                <th scope="col">Country</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var person in Model)
            {
                <tr class="table-success">
                    <td style="width:10%">@person.Name</td>
                    <td style="width:10%">@person.Surname</td>
                    <td style="width:20%">@person.Email</td>
                    <td style="width:5%">@person.Age</td>
                    <td style="width:35%">@person.Address</td>
                    <td style="width:10%">@person.Country</td>
                </tr>
            }
        </tbody>
    </table>
</div>
